<!DOCTYPE HTML>
<html class="ready">

    <head>

        <meta charset="UTF-8">
        <title>Sketchfab Widgets</title>

        <link rel="stylesheet" href="{{ STATIC_URL }}sources/vendors/Normalize.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}sources/vendors/editor.css" />
        <style>.editor-panel, .editor-view { padding-top: 0 }</style>
        <link rel="stylesheet" href="{{ STATIC_URL }}style.css" />

        <script>
          var require = {
              baseUrl: '{{ STATIC_URL }}sources/'
          };
        </script>
        <script data-main="main" src="{{ STATIC_URL }}sources/vendors/require.2.1.13.js"></script>
        

    </head>

    <body>
      <div class="page loading">
      
      </div>
      <div class="page gallery hidden">
        <header>
          <h1>La gallerie qui poutre</h1>
          <h2>GSCV, spécialistes en poneys depuis 1605</h2>
        </header>
        <div class="container"></div>
      </div>
      <div class="page editor hidden">
        <div class="editor-panel">
        </div>
        <div class="editor-view">
          <div class="card">
            <img class="background" />
            <p data-field="name" class="name"></p>
            <p data-field="job" class="job"></p>
          </div>
        </div>
      </div>
    </body>

</html>
